<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
      <div class="centered-div"
      >
       <h1>Main#home</h1>
        <p>Find me in app/views/main/home.html.erb</p>

    </div>
  </div>
</div>
