<div class="container py-3">
  <main>
    
    <%= link_to "Nuevo destino", new_destiny_path, :class => "btn btn-sm btn-primary rounded-pill px-2" %>
    <% @destinies.each do |destiny| %>
      <p>  
        <%= render destiny %>
      </p>
          <% end %>
    </div>
  </footer>

