<div id="<%= dom_id articles_contact %>">
  <p>
    <strong>Article:</strong>
    <%= articles_contact.article_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= articles_contact.contact_id %>
  </p>

</div>
