<h1>Editing articles contact</h1>

<%= render "form", articles_contact: @articles_contact %>

<br>

<div>
  <%= link_to "Show this articles contact", @articles_contact %> |
  <%= link_to "Back to articles contacts", articles_contacts_path %>
</div>
