<div id="<%= dom_id articles_medicament %>">
  <p>
    <strong>Article:</strong>
    <%= articles_medicament.article_id %>
  </p>

  <p>
    <strong>Medicament:</strong>
    <%= articles_medicament.medicament_id %>
  </p>

</div>
