<div id="<%= dom_id articles_disease %>">
  <p>
    <strong>Article:</strong>
    <%= articles_disease.article_id %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= articles_disease.disease_id %>
  </p>

</div>
