<h1>Editing articles disease</h1>

<%= render "form", articles_disease: @articles_disease %>

<br>

<div>
  <%= link_to "Show this articles disease", @articles_disease %> |
  <%= link_to "Back to articles diseases", articles_diseases_path %>
</div>
