<div id="<%= dom_id medicament %>">
  <p>
    <strong>Name:</strong>
    <%= medicament.name %>
  </p>

  <p>
    <strong>Compound:</strong>
    <%= medicament.compound %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= medicament.unit_id %>
  </p>

</div>
